<% layout('layouts/boilerplate') %>
<body>
    <h3>All listing</h3>

    <ul>

        <% for(let listing of listings) { %>
            <li>
                <a href="/listings/<%= listing._id %>">
                    <%= listing.title %>
                </a>
            </li>
        <% } %>


    </ul>

</body>
