<% layout('layouts/boilerplate') %>

<body>

    <form method="POST" action="/listings">

        <input type="text" placeholder="Enter title.." name="listing[title]">
        <br><br>
        <input type="text" placeholder="Enter description.." name="listing[description]">
        <br><br>
        <input type="text" placeholder="Image URL/Link.." name="listing[image]">
        <br><br>
        <input type="number" placeholder="Enter price.." name="listing[price]">
        <br><br>
        <input type="text" placeholder="Enter location.." name="listing[location]">
        <br><br>
        <input type="text" placeholder="Enter country.." name="listing[country]">
        <br><br>
        <button type="submit">Submit</button>

    </form>
    
</body>
