body
{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

 .container
{
flex:1;
} 



/* navbar */

.navbar {
    height :5rem;
    background-color: white;

}

.fa-galactic-senate
{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link
{
    color: #222222 !important;
    font-size: 1.5rem;
}
.navbar-collapse
{
    background-color: white;
}


/*  footer */

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}

.f-info-links a{
    text-decoration: none ;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline ;
    
}
.f-info-links, .f-info-socials, .f-info-brands
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;

}


/*Card*/
.listing-card
{
 
    cursor: pointer;
    border:none !important;    
    margin-bottom: 2rem;
}
.card-image-top
{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body
{
    padding: 0 !important;
}
.card-text p
{
    font-weight: 400 !important;
}

.listing-link

{
    text-decoration: none;
    color: #222222;
}

.card-img-overlay
{
    opacity: 0;
}
.card-img-overlay:hover
{
    opacity: 0.3;
    background-color: white;
    transition: 0.4s;
    
}

/* add new listing page */

.add-btn
{
    background-color: #fe424d;
    border: none !important;
}

/* edit page */
.edit-btn
{
    background-color: #fe424d;
    border: none !important;
}

/* show page */

.show-img
{
    height: 30rem;

}
.btns
{
    display: flex;
}
.show-card
{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* MAP */

#map {
    height: 400px;
    width: 100vh;
    margin-bottom: 2rem;
    border-radius: 10px;
  }