body
{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

 .container
{
flex:1;
} 



/* navbar */

.navbar {
    height :5rem;
    background-color: white;

}

.fa-galactic-senate
{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link
{
    color: #222222 !important;
    font-size: 1.5rem;
}
.navbar-collapse
{
    background-color: white;
}


/*  footer */

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}

.f-info-links a{
    text-decoration: none ;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline ;
    
}
.f-info-links, .f-info-socials, .f-info-brands
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;

}


/*Card*/
.listing-card
{
 
    cursor: pointer;
    border:none !important;    
    margin-bottom: 2rem;
}
.card-image-top
{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body
{
    padding: 0 !important;
}
.card-text p
{
    font-weight: 400 !important;
}

.listing-link

{
    text-decoration: none;
    color: #222222;
}

.card-img-overlay
{
    opacity: 0;
}
.card-img-overlay:hover
{
    opacity: 0.3;
    background-color: white;
    transition: 0.4s;
    
}

/* add new listing page */

.add-btn
{
    background-color: #fe424d;
    border: none !important;
}

/* edit page */
.edit-btn
{
    background-color: #fe424d;
    border: none !important;
   margin-right: 1rem;
}

/* show page */

.show-img
{
    height: 30rem;

}
.btns
{
    display: flex;
}
.show-card
{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* MAP */

#map {
    height: 400px;
    width: 100vh;
    margin-bottom: 2rem;
    border-radius: 10px;
  }

  /* Default styles for larger screens */

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-8 {
    width: 66.66667%;
}

.offset-3 {
    margin-left: 25%;
}

/* Media query for smaller screens (mobile) */

@media (max-width: 767px) {
    .row {
        margin-right: 0;
        margin-left: 0;
    }

    .col-8 {
        width: 100%;
    }

    .offset-3 {
        margin-left: 0;
    }

    .show-card {
        margin-top: 15px; /* Adjust spacing for smaller screens */
    }
    .show-img
    {
        height: 17rem;

    }

    .edit-btn,
    .btn-dark {
        width: 30%; /* Make buttons full-width on smaller screens */
        margin-top: 10px;
       
    }
    .delete-btn
    {

        margin-left: 20rem;
        margin-top: 0px;
    }

   
    .starability-slot {
        margin-bottom: 15px; /* Adjust spacing for the rating stars */
    }

    .btns {
      
        display: block;
    }

    .mb-3,
    .mt-3 {
        margin-bottom: 15px; /* Adjust margin for form elements */
    }

    #map {
        height: 200px; /* Adjust map height for smaller screens */
        width: 300px;;
    }
   .rating-box
   {
    display: block;
   }
   .card
   {
    width: auto !important;
   }
}

/* Media query for smaller screens (tablets)  making add new listing responsive*/
@media (max-width: 767px) {
    .col-8 {
        width: 100%; /* Make the form full-width on small screens */
        margin: 0; /* Remove the horizontal margin for full-width */
    }

    .mb-3 {
        margin-bottom: 15px; /* Add some bottom margin between form elements on small screens */
    }

    .col-md-4,
    .col-md-8 {
        width: 100%; /* Make the columns full-width on small screens */
    }

    /* making flash reponsive */
   
        .col-6.offset-3 {
            width: 100%; /* Make the alert full-width on small screens */
            margin: 0; /* Remove the horizontal margin for full-width */
        }
    
}